OPENROUTER_API_KEY=some-openrouter-key
LANGSMITH_API_KEY=some-langsmith-key

MEMORY__POSTGRES_DB=some_db
MEMORY__POSTGRES_PASSWORD=somepassword

PATH_HISTORY__POSTGRES_DB=path_history_db
PATH_HISTORY__POSTGRES_PASSWORD=somepassword

